[Unit]
Description={{ docker_app_name }} service with docker compose
{% if docker_systemd_before is defined %}
Before={{ docker_systemd_before }}
{% endif %}
Requires=docker.service
{% if docker_systemd_requires is defined %}
Requires={{ docker_systemd_requires }}
{% endif %}
{% if docker_systemd_wants is defined %}
Wants={{ docker_systemd_wants }}
{% endif %}
After=docker.service
{% if docker_systemd_after is defined %}
After={{ docker_systemd_after }}
{% endif %}

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ docker_compose_base }}/{{ docker_app_name }}
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
